html {
  height: 100%;
}

body {
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 1em;
  height: 100%;
}

.right-justify-content {
  justify-content: flex-end;
}

.map {
  height: 100%;
}

.absolute-btn {
    position: absolute;
    bottom: 10;
    left: 10;
    width 15em;
    height: auto;
}
